.logo {
    color: rgb(34, 35, 133);
    font-size: 25px;
    width: 900px;
    font-weight: bold;
    text-align: center;
}

.navbar {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(196, 39, 39, 0.4);
}

.navbar ul {
    float: right;
    margin-right: 30px;
}

.navbar ul li {
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a {
    font-size: 20px;
    color: white;
    padding: 6px 13px;
    text-decoration: none;
    transition: .4s;
}

.navbar ul li a:hover {
    background: red;
    border-radius: 2px;
}
