.grid-container {
  margin-top: 100px;
  margin-left: 360px;
  margin-right: 0px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  justify-items: end;
  width: 75%;
  height: 75%;

  .book {
    background-position: center center;
    text-align: center;
    border: 6px solid pink;
    border-radius: 15%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);

    .btn_addtocart {
      width: 50%;
      height: 30px;
      border: 1px solid;
      background: rgba(196, 39, 39, 0.4);
      border-radius: 25px;
      font-size: 10px;
      font-weight: 700;
      color: #e9f4fb;
      cursor: pointer;
      outline: none;
      margin-top: 20px;

      &:hover {
        border-color: rgba(196, 39, 39, 0.4);
        background: none;
        transition: .5s;
      }
    }
  }
}